.intro-text-container {
background-color: #0f0f0f;  height: 40vh; /* Full screen height */
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5vw; /* Adjust left padding */
}

.intro-text {
  color: white;
  font-size: 2.5rem;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.5px;
}
